<h1>Cadastrar Conquista</h1>
    <form action="/jogos/{{usuario.id}}/novaConquista" method="post">

        <div>
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" />
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" id="descricao" />
        </div>
        <input type="submit" value="Salvar" />

    </form>
