<form action="/usuarios/novo" method="post">
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" id="nickname" />
    </div>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" />
        <input type="submit" value="Enviar" />
    </div>
</form>
