<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crie um novo usuário:</h1>
    <form action="/usuarios/novo" method="post">
        <div>
            <label for="nickname">Nickname:</label>
            <input type="text" name="nickname" id="nickname" />
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" />
            <input type="submit" value="Enviar" />
        </div>
    </form>
</body>
</html>
