<h1>Usuários Cadastrados</h1>

<a href="/usuarios/novo">Cadastrar novo usuário</a>

<table border="1">
    <tr> <!--table row -->
        <!--table head -->
        <th>Id</th>
        <th>Nickname</th>
        <th>Nome</th>
    </tr>

    {{#each usuarios}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nickname}}</td>
            <td>{{this.nome}}</td>
            <td>
                <a href="/usuarios/{{this.id}}/update">Atualizar</a>
            </td>
        </tr>
    {{/each}}
</table>